<footer>
    <hr>
    <!--<img id="csumb-logo" src="https://d2jtc9c99zuy7w.cloudfront.net/5idL1uwISCmgLBmh7FvA_CSUMB%20Logo%20540%20Bay%20Blue.png" alt="CSUMB logo" />-->
    <!--<br />-->
    <div id="footer-text">
        CST336 Internet Programming. 2020&copy; Oakes <br />
        <strong>Disclaimer:</strong> The information in this webpage is fictitious. <br />
        It is used for academic purposes only.
    </div>
</footer>

</body>

</html>