<!DOCTYPE html>
<html lang="en-US">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Allow page to scale with window size -->
        <title> Logic Gates </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <h1> Logic Gates </h1>
        </header>

        <nav>
            <hr />
            <div class="flex-container">
                <a href="/">Home</a>
                <a href="/gates">Basic Gates</a>
                <a href="/binary_adder">Adder</a>
                <a href="/references">References</a>
            </div>
            <hr />
        </nav>