<%- include('partials/header.ejs') %>

<br /><br />

<main>
    
    <div class="flex-container">
        <div class="flex-item">
            <figure>
                <img src="https://resize.hswstatic.com/w_907/gif/microprocessor.jpg" alt="image of a circuit board" />
                <figcaption>Microprocessors can contain over 100 million logic gates</figcaption>
            </figure>
        </div>
        <div class="flex-item">
            <p>The Marriam-Webster Dictionary defines a logic gate as "a device (as in a computer) that outputs a signal when specified input conditions are met".</p>
            <p>Basically, a logic gate is a component which accepts two inputs (or sometimes more, except for NOT which only accepts one input) and outputs a signal, either true or false, based on the type of gate and the input signals.</p>
            <p>For example, an AND gate outputs a true signal when both inputs are true.  An OR gate outputs a true signal when either or both of its inputs are true.  A NOT gate outputs a signal only when its input is false.</p>
            <p>Logic gates are composed of transistors and underly all of computer logic.</p>
        </div>
    </div>
    
</main>

<%- include('partials/footer.ejs') %>