<%- include('partials/header.ejs') %>
        
<br />

<main>
    
    <div class="flex-container">
        <div class="flex-item">
            <figure>
                <img src="img/circuit_board_public_domain.jpg" alt="image of a circuit board" />
            </figure>
        </div>
        <div class="flex-item">
            <h3>References</h3>
            <ol class="responsive-font">
                <li><a href="https://computer.howstuffworks.com/microprocessor.htm">
                    https://computer.howstuffworks.com/microprocessor.htm
                </a></li>
                <li><a href="https://www.merriam-webster.com/dictionary/gate">
                    https://www.merriam-webster.com/dictionary/gate
                </a></li>
                <li><a href="https://www.eeweb.com/quizzes/full-adder-nand-equivalent">
                    https://www.eeweb.com/quizzes/full-adder-nand-equivalent
                </a></li>
            </ol>
        </div>
    </div>
    
</main>

<%- include('partials/footer.ejs') %>